<?xml version="1.0" encoding="UTF-8"?>
<plugin xmlns="http://apache.org/cordova/ns/plugins/1.0"
        id="cordova-foreground-geolocation" version="0.0.1">
    <name>Foreground Geolocation</name>
    <description>Cordova Foreground Geolocation Plugin</description>
    <license>MIT</license>
    <keywords>cordova,foreground,geolocation</keywords>
    <js-module src="www/plugin.js" name="plugin">
        <runs />
        <clobbers target="ForegroundGeolocation" />
    </js-module>
</plugin>
